<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
    <span><a href="/categories/<%= item.category.id %>"><%= item.category.name %></a> <h3>/</h3> <a href="/catalog/<%= item._id %>"><%= item.name %></a></h3></span>
      <div class="container">
          <form action="/catalog/<%= item.id%>/update" method="POST" class="container item-big">
            <input name="name" value="<%= item.name%>" type="text">
            <textarea name="description" id="" cols="30" rows="10"><%= item.description%></textarea>
            <!-- Hardcoded options, must be replaced -->
            <select name="category" id="">
                <option value="Test 1">Test 1</option>
                <option value="Test 2">Test 2</option>
                <option value="Test 3">Test 3</option>
            </select>
            <!-- /// -->
           <input min="0" name="price" value="<%= item.price%>" type="number">
           <input min="0" name="stock" value="<%= item.stock%>" type="number">
            <button>Submit</button>
            <a href="/catalog/<%= item.id%>">Cancel</a>
          </form>
      </div>  
    </main>
    
  </body>
</html>